.container{
    margin-top: 20px;
}
.row{
    background: gray;
    color: white;

}
.col{
    text-align: center;
    background: blue;
    padding: 10px;
    border: 5px solid lemonchiffon;
    color: white;
}
.columnaInferior{
    background: green;
    padding: 10px;
    border: 2px solid darkblue;
}